#dashboardBody {
    display:flex;
}
#sideBar {
    width:200px;
    display:flex;
    flex-direction: column;
    border-style: inset;
    border-color:rgb(93, 93, 93);
    border-width: 3px;
}
button{
    color:rgb(255, 51, 0);
}
#bodyContent{
    width:975px;
    background-color: #252525;
    border-style: inset;
    border-color:rgb(93, 93, 93);
    border-width: 3px;
}