#dashboardBody {
    display:flex;
}
#sideBar {
    width:6vw;
    display:flex;
    flex-direction: column;
    border-style: inset;
    border-color:rgb(93, 93, 93);
    border-width: 3px;
    text-align: center;
}
button{
    color:rgb(255, 51, 0);
    background-color: #252525
}
#bodyContent{
    width:85vw;
    background-color: #252525;
    border-style: inset;
    border-color:rgb(93, 93, 93);
    border-width: 3px;
}