.EventGraph {
  width: 100%;
  display:flex;
  justify-content: space-between;
}

.EventPanelContainer {
  width:50%;
  display: flex;
  background-color: #252525;
}

.LogPanel {
  background-color: #191919;
  color: #dddddd;
  width: 50%;
  position:relative;
  right:0px;
  height: 100vh;
}


