.metrics__home__container {
  position: relative;
}
.trace-list-container {
  position: relative;
  display: flex;
}

.trace-list-traces {
  display: flex;
  flex-direction: column;
  width: 15%
}

.debug-trace-display {
  position: relative;
  overflow-inline: scroll;
  max-width: 85%;
}

.loading-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}
