.NavBar{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    border-style: inset;
    border-color:rgb(93, 93, 93);
    border-width: 3px;
}
#logo{
    display:flex;
    padding-left:10px;
}
#links{
    position:relative;
    top: 35px;
    display:flex;
    justify-content: space-around;
    width:200px;
    color:rgb(255, 51, 0);
}